body {
    animation: bgcolor infinite 20s;
    margin: 0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}


.corps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 40px;
    position: relative;
}

h1, h2, h3{
    filter: drop-shadow(0px 2px 2px #6d6d6d);
}

.rainbow{
    text-decoration: none;
    font-size: 40px;
    background: linear-gradient(90deg, rgba(187,0,249,1) 10%, rgba(38,0,255,1) 25%, rgba(0,202,255,1) 40%, rgba(37,212,42,1) 54%, rgba(252,227,30,1) 69%, rgba(255,153,0,1) 85%, rgba(255,0,0,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(0px 2px 1px #535353);
}



/* Carousel */

.carousel {
    margin-top: 165px;
    display: flex;
    width: 57%;
    margin-bottom: 120px;
    filter: drop-shadow(0px 5px 5px rgba(135, 12, 0, 0.282));
}

.carousel-inner {
    border-radius: 50px 50px 50px 50px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators [data-bs-target] {
    width: auto;
}

.carousel-button {
    float: bottom;
    margin-left :20px!important;
    margin-left :20px!important;
}

.zoom2 {
    -webkit-transition: width 0.2s ease-in-out;
-moz-transition: width 0.2s ease-in-out;
transition: width 0.2s ease-in-out;
width:50px;
}

.zoom2:hover{
    width:60px;
}

.zoom3{
    width:110%;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.zoom3:hover{
    width:100%;
}

/* Galerie */

.gallerie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 75px!important;
    margin-bottom: 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    line-height: 10px;
    gap: 50px;
    height:300px;
}

.image{
   position: relative;
   width: 225px;
   filter: drop-shadow(0px 10px 5px rgba(135, 12, 0, 0.282));
}

.image_image{
    display: block;
    width:100%!important;
   
}

.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgb(244, 243, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0.9;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.1);
    text-shadow: -2px 0 rgba(0, 0, 0, 0.622), 0 2px rgba(0, 0, 0, 0.622), 2px 0 rgba(0, 0, 0, 0.622), 0 -2px rgba(0, 0, 0, 0.622);
    
}

.image_overlay:hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:1;
    backdrop-filter: blur(5px);
}

.image_title{
    font-size: 2em!important;
    text-align: center;
    filter: drop-shadow(0px 5px 2px rgb(0, 0, 0));
}

/* .zoomin {
    -webkit-transition: height 0.2s ease-in-out;
-moz-transition: height 0.2s ease-in-out;
transition: height 0.2s ease-in-out;
}

.zoomin:hover{
    height:170px;
} */


table{
    --bs-table-bg: transparent!important;
    text-align: center;
border-color:transparent!important;
filter: drop-shadow(0px 10px 5px rgba(135, 12, 0, 0.282));
width: auto!important;
}

tbody{
    width: 500px;
}

.casetab{
   width: 350px!important;
   height: 250px!important;
}



/* .img1{
    position: relative;
    right: 25%;
}

.img2{
    position: relative;
    right: 50%;
} */


/* Fond multicolore  */

@keyframes bgcolor {
    0% {
        background: #f7b53b;
    }

    10% {
        background: #F79F1F;
    }

    30% {
        background: #CA2B30;
    }

    50% {
        background: #be2edd;
    }

    70% {
        background: #45aaf2;
    }

    90% {
        background: #5EBC4E;
    }

    100% {
        background: #F7B53B;
    }
}
