.corps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 40px;
    position: relative;
}

h1,
h2,
h3 {
    filter: drop-shadow(0px 2px 2px #696969);
    padding-top: 20px;
    padding-bottom: 20px;
}

.lieu {
    display: flex;
    width: 75%;
    align-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.lieu .titre {
    margin-bottom:50px;
      border-radius: 25px 25px 25px 25px;
      border:0px;
      align-items: center;
      width:100%;
  }

.lieu img {
    width:100%;
    border-radius: 25px 25px 25px 25px;
}

.lieutxt{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    align-items: center;
    width: 100%;
}
.lieutxt2{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

.commentaires{
    text-align: center;
    margin-top: 20px;
}


.cartes {
    display: flex;
    width: 100%;
    align-content: space-around;
    align-items: center;
}

.card {
  margin-bottom:20px;
    width: 75%;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(224, 242, 255, 0.9)!important;
    border:0px;
    vertical-align: middle;
    filter: drop-shadow(0px 3.5px 2px #403b3976);
}

.card .row{
    align-items: center!important;
}

.card img{
width:75%;
margin-left:18px;
}

.g-0{
    width: 100%;
}

.image{
    filter: drop-shadow(0px 3.5px 2px #403b3976);
}

.comment .btn,.titre .btn {
    font-size: 15px;
    font-family: Arial;
    width: auto;
    height: auto;
    vertical-align: middle;
    border-width: 0px;
    color: #ffffff;
    border-color: #c9712b;
    font-weight: bold;
    border-radius:25px 25px 25px 25px;
    filter: drop-shadow(0px 3.5px 2px #913d0976);
    text-shadow: 0px 0px 0px #d1884c75;
    background: rgb(231, 148, 5);
}

.comment .btn:hover,.titre .btn:hover {
    background: rgb(255, 205, 24)!important;
}

.comment .btn:active,.titre .btn:active {
    background: #c9712b!important;
}

.comment .btn{
    margin-left: 25px;
}

/* [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  } */
  
  /* IMAGE STYLES
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  /* [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
 */
  .etoile {
    width:20px!important;
  }

.carousel{
    filter: drop-shadow(0px 3.5px 2px #403b3976);
}

  .carousel-inner {
    border-radius: 50px 50px 50px 50px;
}

.carousel img{
    border-radius: 0px;
  
}

