h1{
    margin-top: 130px;
    filter: drop-shadow(0px 2px 2px #8b8b87);
    margin-bottom: 10px;
}


.texte{
    text-align: center;
    align-items: center;
}

#mlegales{
            display: flex;
            flex-direction: column;
 }


#mlegales>iframe{

}
