.corps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 180px;
    padding-bottom: 40px;
    position: relative;
}

h1, h2, h3{
  filter: drop-shadow(0px 2px 2px #8b8b87);
}

p{
  margin-bottom: 0px!important;
}

table{--bs-table-bg: rgb(255, 252, 227)!important;
text-align: center;
height: 370px;
border-color:rgb(142, 121, 0)!important;
border-color: transparent!important;
filter: drop-shadow(0px 10px 5px rgba(135, 12, 0, 0.282));
}

tbody, td, tfoot, th, thead, tr {border-width: 1px!important;
    vertical-align: middle;}

th{width:100px;
    --bs-table-bg: rgb(255, 245, 209)!important;
}

.casevide{--bs-table-bg: transparent!important;
border-color: transparent!important;}

.caseleft{border-radius: 25px 0px 0px 0px;
    border-left-color: transparent!important;}

.caseright{border-radius: 0px 25px 0px 0px;
  }

.casebtmleft{border-radius: 0px 0px 0px 25px;
  }

.casebtm{ border-bottom-color: transparent!important;}

.casebtmright{border-radius: 0px 0px 25px 0px;}

.matin{
  --bs-table-bg: rgb(158, 225, 227)!important;
}

.jour{
  --bs-table-bg: rgb(255, 219, 100)!important;
}

.nuit{
  --bs-table-bg: rgb(162, 128, 220)!important;
}

table img{
  height:75px!important;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.282));
}

