h1 {
  text-align: center;
  border-radius: 100px;
  border: 5px solid rgba(128, 128, 128, 0.6);
  color: rgba(121, 119, 111, 0.7);
  background-color: bisque;
}

.champ {
  height: 30px;
  width: 300px;
  background-color: rgba(255, 228, 196, 0.5);
  text-align: center;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-around;
}

#codes {
  height: 25px;
  width: 100px;
  background-color: rgba(128, 128, 128, 0.619);
  color: black;
  margin-top: 15px;
  margin-left: 120px;
}

.col-4 {
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 50px;
  /* border: 5px solid rgba(128, 128, 128, 0.61); */
  width: 400px;
  height: 400px;
  background-color: rgba(224, 242, 255, 0.9)!important;
}

#formval > img {
  border-radius: 50px;
  /* border: 5px solid rgba(128, 128, 128, 0.6);
  color: rgba(121, 119, 111, 0.7); */
  margin-top: 30px;
  height: 250px;
}

#formpw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
}

#formpw > img {
  border-radius: 15px;
  /* border: 5px solid rgba(128, 128, 128, 0.6);
  color: rgba(121, 119, 111, 0.7); */
  width: 70%;
}

#art2 > h6 {
  text-align: center;
}


