#hdiv {
  display: flex;
  justify-content: space-between;
  height: 220 px;
  /* background-color: rgba(216, 191, 216, 0.5); */
  margin-top: 150px;
}

#hdiv > img {
  /* border: 2px solid gray; */
  border-radius: 50px;
  margin: 10px 15px;
  padding-top: px;
}

#hdiv > div {
  display: flex;
  align-items: center;
}

#hdiv img{
  filter: drop-shadow(0px 5px 5px rgba(135, 12, 0, 0.282));
}

#presentation > h1 {
  text-align: center;
  /* color: antiquewhite; */
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 3px rgb(0, 0, 0);
  filter: drop-shadow(0px 2px 2px #8b8b87);
 padding-top: 70px;
 padding-bottom: 70px;
  /* padding-left: 120px; */
  background-image: url("../images/Team3_2.jpg");
  width: 700px;
}

h1,
article > img {
  margin-top: 0px!important;
  text-align: center;
  /* border: 2px solid gray; */
  border-radius: 50px;
  margin: 5px 5px;
  /* background-color: antiquewhite; */
  /* background-color: rgba(224, 242, 255, 0.9); */
}

#equipe{
  width:65%;
  text-align: center;
  background-color: rgba(224, 242, 255, 0.9)!important;
  margin:0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 60px;
padding-top: 10px;
}

#equipe2{
  width:65%;
  text-align: center;
  background-color: rgba(224, 242, 255, 0.9)!important;
  margin:0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60px;
padding-top: 10px;
margin-bottom: 50px;
}

.accordion{
  width: 65%;
}

.accordion-item{
  text-align: center;
}

.accordion-button{
  color: rgb(255, 253, 238);
  text-align: center;
  text-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.accordion-button:not(.collapsed){
  color: rgb(255, 253, 238);
  text-align: center;
  text-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.accordion-body{
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 40px;
}

.accordion-body img{
  width:150px;
}

#conteneur{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
body {
  background-color: rgba(192, 192, 192, 0.454);
} */

#projet{
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(224, 242, 255, 0.9)!important;
  margin-bottom: 50px;
  border-radius: 50px;
  padding-top:10px;
  padding-bottom:10px;
  filter: drop-shadow(0px 5px 5px rgba(135, 12, 0, 0.282));
}

#art {
  display: flex;
  margin: 5px 20px;
  width:95%;
  gap: 20px;
  align-items: center;
}

#message {
  text-align: center;
  margin: 10px 5px;
  font: xx-large;
}

/* #areis {
  display: flex;
  justify-content: space-between;
} */

#texte {
  margin-top: 60px;
}

footer {
  text-align: center;
}
